@page
@model PDRD.Pages.Hymns.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-row justify-content-center align-items-center m-2">
    <h1 class="me-5">Hymns</h1>
    <a id="add-new" class="btn btn-primary" asp-page="Create">+ Add New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hymn[0].HymnNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hymn[0].HymnName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Hymn) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HymnNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HymnName)
            </td>

            <td>
                    <div class="btn-group" role="group">
                        <a class="card-link btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.HymnID">Edit</a>
                        <a class="card-link btn btn-outline-primary" asp-page="./Details" asp-route-id="@item.HymnID">Details</a>
                        <a class="card-link btn btn-outline-primary" asp-page="./Delete" asp-route-id="@item.HymnID">Delete</a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
