@page
@using Newtonsoft.Json
@model PDRD.Pages.Agendas.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Agenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Agenda.AgendaID" />
            <div class="form-group mb-3">
                <label asp-for="Agenda.MeetingDate" class="control-label"></label>
                <input asp-for="Agenda.MeetingDate" class="form-control" />
                <span asp-validation-for="Agenda.MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Agenda.OpeningHymnID"></label>
                <select asp-for="Agenda.OpeningHymnID" class="form-control" id="CreateAgendaOpeningHymnSelect">
                    <option value="">None</option>
                    @foreach (var hymn in Model.AvailableHymns)
                    {
                        <option value="@hymn.HymnID">@($"{hymn.HymnNumber} - {hymn.HymnName}")</option>
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Agenda.SacramentHymnID"></label>
                <select asp-for="Agenda.SacramentHymnID" class="form-control" id="CreateAgendaSacramentHymnSelect">
                    <option value="">None</option>
                    @foreach (var hymn in Model.AvailableHymns)
                    {
                        <option value="@hymn.HymnID">@($"{hymn.HymnNumber} - {hymn.HymnName}")</option>
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Agenda.IntermediateHymnID"></label>
                <select asp-for="Agenda.IntermediateHymnID" class="form-control" id="CreateAgendaIntermediateHymnSelect">
                    <option value="">None</option>
                    @foreach (var hymn in Model.AvailableHymns)
                    {
                        <option value="@hymn.HymnID">@($"{hymn.HymnNumber} - {hymn.HymnName}")</option>
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Agenda.ClosingHymnID"></label>
                <select asp-for="Agenda.ClosingHymnID" class="form-control" id="CreateAgendaClosingHymnSelect">
                    <option value="">None</option>
                    @foreach (var hymn in Model.AvailableHymns)
                    {
                        <option value="@hymn.HymnID">@($"{hymn.HymnNumber} - {hymn.HymnName}")</option>
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Agenda.SpecialMusicalNumber" class="control-label"></label>
                <input asp-for="Agenda.SpecialMusicalNumber" class="form-control" />
                <span asp-validation-for="Agenda.SpecialMusicalNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Agenda.OpeningPrayerPersonID"></label>
                <select asp-for="Agenda.OpeningPrayerPersonID" class="form-control" id="OpeningPrayerPersonSelect">
                    <option value="">By Announcement</option>
                    @foreach (var person in Model.AvailablePeople)
                    {
                        <option value="@person.PersonID">@($"{person.PersonPrefix} {person.FirstName} {person.LastName}")</option>
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Agenda.ClosingPrayerPersonID"></label>
                <select asp-for="Agenda.ClosingPrayerPersonID" class="form-control" id="ClosingPrayerPersonSelect">
                    <option value="">By Announcement</option>
                    @foreach (var person in Model.AvailablePeople)
                    {
                        <option value="@person.PersonID">@($"{person.PersonPrefix} {person.FirstName} {person.LastName}")</option>
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Agenda.PresidingPersonID"></label>
                <select asp-for="Agenda.PresidingPersonID" class="form-control" id="PresidingPersonSelect">
                    <option value="">By Announcement</option>
                    @foreach (var person in Model.AvailablePeople)
                    {
                        <option value="@person.PersonID">@($"{person.PersonPrefix} {person.FirstName} {person.LastName}")</option>
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Agenda.ConductingPersonID"></label>
                <select asp-for="Agenda.ConductingPersonID" class="form-control" id="ConductingPersonSelect">
                    <option value="">By Announcement</option>
                    @foreach (var person in Model.AvailablePeople)
                    {
                        <option value="@person.PersonID">@($"{person.PersonPrefix} {person.FirstName} {person.LastName}")</option>
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Agenda.NonSpeakerProgram" class="control-label"></label>
                <input asp-for="Agenda.NonSpeakerProgram" class="form-control" />
                <span asp-validation-for="Agenda.NonSpeakerProgram" class="text-danger"></span>
            </div>
            @* Aqui empiezan los cambios *@
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4>Talks</h4>
            </div>
            <div id="talks-container-update">
                @for (int i = 0; i < Model.Agenda.Talks?.Count; i++)
                {
                    <div class="row-talk talk-row mb-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>Speaker</h5>
                        </div>
                        <div>
                            <label asp-for="Agenda.Talks[i].PersonID">Speaker Name</label>
                            <select asp-for="Agenda.Talks[i].PersonID" class="form-control" id="ConductingPersonSelect">
                                <option value="" disabled>Member Name</option>
                                @foreach (var person in Model.AvailablePeople)
                                {
                                    <option value="@person.PersonID">@($"{person.PersonPrefix} {person.FirstName} {person.LastName}")</option>
                                }
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Agenda.Talks[i].Topic" class="control-label"></label>
                            <input asp-for="Agenda.Talks[i].Topic" class="form-control" />
                            <span asp-validation-for="Agenda.Talks[i].Topic" class="text-danger"></span>
                        </div>
                        <input asp-for="Agenda.Talks[i].TalkID" type="hidden" />
                    </div>
                }
            </div>
            @* Aqui terminan los cambios *@

            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
        </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
