@page
@model PDRD.Pages.Agendas.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex flex-row justify-content-center align-items-center m-2">
    <h1 class="me-5">Sacrament Meeting Agendas</h1>
    <a id="add-new" class="btn btn-primary" asp-page="Create">+ Add New</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agenda[0].MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agenda[0].ConductingPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agenda[0].NonSpeakerProgram)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Agenda)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConductingPerson.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NonSpeakerProgram)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="card-link btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.AgendaID">Edit</a>
                        <a class="card-link btn btn-outline-primary" asp-page="./Details" asp-route-id="@item.AgendaID">Details</a>
                        <a class="card-link btn btn-outline-primary" asp-page="./Delete" asp-route-id="@item.AgendaID">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>